<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet">

    <title> Main </title>
</head>

<body id="layout">

    {{{body}}}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/showLight.js"></script>
    <script src="/public/blur.js"></script>
    <script src="/public/script.js"></script>
</body>
</html>
