<div id="form">

    <h2 class="peoplesig"> We would love to know more about you! </h2>
    <h2 class="peoplesig"> Create a profile or <a href = "/petition"> sign the petition</a>

    <form action="/profile" method= "POST">
        <input type="text" placeholder="Age" name="age">
        <input type="text" placeholder="City" name="city">
        <input type="text" placeholder="Homepage" name="homepage">
        <button type="Submit">Continue</button>
    </form>

    <h2 class="peoplesig"> Edit your profile <a href = "/profile_edit"> here</a>

</div>
