<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Image Borad </title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
   </html>
    </head>
    <body ag-app ="myApp"> /process these stuff containted by the bodytag

    <div ng-controller='cityList'>
        <h3> {{message}}</h3>
        <ul ng-if="cities.length > 0">
       <li ng-repeat="city in cities">{{city.name}}, {{city.country}} <input ng-model
   </ul>
   <button ng-click="log"></button>
   </div>
    </body>
